Repository cse403-lemme-know/lemme-know, changes with the owners that .github/CODEOWNERS names for each.
All owners: @finnbear, @abdimoh596, @davengt, @ShwayShway, @brooklynxzhu, @Zohar-Le

add daven's partial report
  reports/20240214.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

add daven's partial report (#121)
  reports/20240214.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

calendar shows extra day fix
  frontend/src/routes/dashboard/+page.svelte
Owners: @brooklynxzhu, @Zohar-Le

Test and improve backend.
  backend/README.md
  backend/group.go
  backend/group_activity.go
  backend/group_poll.go
  backend/main_test.go
  backend/push.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

invite link generation works
  frontend/src/routes/+page.svelte
  frontend/src/routes/dashboard/+page.svelte
Owners: @brooklynxzhu, @Zohar-Le

Comment and modularize code.
  backend/group_activity.go
  backend/main.go
  backend/notification.go
  backend/push.go
  backend/util.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Begin adding input validation.
  backend/group.go
  backend/group_task.go
  backend/util.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Improve input validation.
  backend/group.go
  backend/group_poll.go
  backend/group_task.go
  backend/util.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Additional string validation.
  backend/group.go
  backend/group_chat.go
  backend/group_poll.go
  backend/group_task.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Check dates and times are valid format.
  backend/database.go
  backend/dbschema.go
  backend/group_activity.go
  backend/group_availability.go
  backend/main_test.go
  backend/util.go
  backend/util_test.go
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear

Revise dates/times in readme for clarity.
  backend/README.md
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

daven status for 14Feb
  reports/20240214.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

daven status for 14Feb (#123)
  reports/20240214.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Fix typos/minor issues.
  backend/README.md
  backend/group.go
  backend/util.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

.github/CODEOWNERS:

* @finnbear
/backend/ @abdimoh596 @davengt @finnbear @ShwayShway
/backend/main.go @finnbear
/backend/database.go @davengt @ShwayShway
/backend/dbschema.go @davengt @ShwayShway
/frontend/ @brooklynxzhu @Zohar-Le
/terraform/ @abdimoh596
/reports/ @abdimoh596 @brooklynxzhu @davengt @finnbear @ShwayShway @Zohar-Le
