Repository cse403-lemme-know/lemme-know, changes with the owners that .github/CODEOWNERS names for each.
All owners: @finnbear, @abdimoh596, @davengt, @ShwayShway, @brooklynxzhu, @Zohar-Le

.github/CODEOWNERS:

* @finnbear
/backend/ @abdimoh596 @davengt @finnbear @ShwayShway
/backend/main.go @finnbear
/backend/database.go @davengt @ShwayShway
/backend/dbschema.go @davengt @ShwayShway
/frontend/ @brooklynxzhu @Zohar-Le
/terraform/ @abdimoh596
/reports/ @abdimoh596 @brooklynxzhu @davengt @finnbear @ShwayShway @Zohar-Le

Update 4th report. (#110)
  reports/20240214.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Improve documentation.
  backend/README.md
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

call createGroup from model instead of fetch req in page.svelte
  frontend/src/routes/+page.svelte
Owners: @brooklynxzhu, @Zohar-Le

saving availability works now with backend
  frontend/src/lib/model.js
  frontend/src/routes/dashboard/+page.svelte
Owners: @brooklynxzhu, @Zohar-Le

saving tasks to backend works now
  frontend/src/lib/model.js
  frontend/src/routes/+page.svelte
  frontend/src/routes/dashboard/+page.svelte
Owners: @brooklynxzhu, @Zohar-Le

get rid of hmr
  frontend/vite.config.js
Owners: @brooklynxzhu, @Zohar-Le

reformat file
  frontend/src/routes/dashboard/+page.svelte
Owners: @brooklynxzhu, @Zohar-Le

lint fix
  frontend/src/lib/model.js
  frontend/src/routes/+page.svelte
  frontend/src/routes/dashboard/+page.svelte
Owners: @brooklynxzhu, @Zohar-Le

Improve backend API documentation. (#111)
  backend/README.md
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

replacing $ with get
  frontend/src/routes/dashboard/+page.svelte
Owners: @brooklynxzhu, @Zohar-Le

Supporting Integration for creating group, creating task, and creating availabilities (#112)
  frontend/src/lib/model.js
  frontend/src/lib/stores.js
  frontend/src/routes/+page.svelte
  frontend/src/routes/dashboard/+page.svelte
Owners: @brooklynxzhu, @Zohar-Le

WIP for websockets in AWS.
  backend/database.go
  backend/dbschema.go
  backend/main.go
  terraform/dynamodb.tf
  terraform/lambda.tf
Owners: @davengt, @ShwayShway, @finnbear, @abdimoh596

2/14 report brooklyn
  reports/20240214.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

2/14 report brooklyn (#114)
  reports/20240214.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Finish ws, fix database.
  backend/api.go
  backend/database.go
  backend/dbschema.go
  backend/main.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

WebSockets work in AWS. (#113)
  backend/api.go
  backend/database.go
  backend/dbschema.go
  backend/main.go
  terraform/dynamodb.tf
  terraform/lambda.tf
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

add chat and poll model
  frontend/src/lib/model.js
  frontend/src/routes/dashboard/+page.svelte
  frontend/src/routes/dashboard/PollCreationModal.svelte
  frontend/static/poll.png
Owners: @brooklynxzhu, @Zohar-Le

add invite link button + fetch req for deleting availabilities
  frontend/src/lib/model.js
  frontend/src/lib/stores.js
  frontend/src/routes/dashboard/+page.svelte
Owners: @brooklynxzhu, @Zohar-Le

add chat and poll model (#115)
  frontend/src/lib/model.js
  frontend/src/routes/dashboard/+page.svelte
  frontend/src/routes/dashboard/PollCreationModal.svelte
  frontend/static/poll.png
Owners: @brooklynxzhu, @Zohar-Le

Revert "add chat and poll model (#115)"
  frontend/src/lib/model.js
  frontend/src/routes/dashboard/+page.svelte
  frontend/src/routes/dashboard/PollCreationModal.svelte
  frontend/static/poll.png
Owners: @brooklynxzhu, @Zohar-Le

Revert "add chat and poll model (#115)" (#116)
  frontend/src/lib/model.js
  frontend/src/routes/dashboard/+page.svelte
  frontend/src/routes/dashboard/PollCreationModal.svelte
  frontend/static/poll.png
Owners: @brooklynxzhu, @Zohar-Le

add chat and poll models
  frontend/src/lib/model.js
Owners: @brooklynxzhu, @Zohar-Le

add prettier
  frontend/src/lib/model.js
Owners: @brooklynxzhu, @Zohar-Le

trying to delete based on availabilityId
  frontend/src/lib/model.js
  frontend/src/routes/dashboard/+page.svelte
Owners: @brooklynxzhu, @Zohar-Le

some console logs for debugging
  frontend/src/routes/dashboard/+page.svelte
Owners: @brooklynxzhu, @Zohar-Le

Fix backend DELETE API's.
  backend/api.go
  backend/database.go
  backend/group.go
  backend/group_activity.go
  backend/group_availability.go
  backend/group_poll.go
  backend/group_task.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

add poll and chat
  frontend/src/lib/model.js
  frontend/src/routes/dashboard/+page.svelte
  frontend/src/routes/dashboard/PollCreationModal.svelte
Owners: @brooklynxzhu, @Zohar-Le

change back to frontend without backend integration
  frontend/src/routes/dashboard/+page.svelte
  frontend/src/routes/dashboard/PollCreationModal.svelte
  frontend/static/poll.png
Owners: @brooklynxzhu, @Zohar-Le

fix poll's name
  frontend/src/routes/dashboard/PollCreationModal.svelte
Owners: @brooklynxzhu, @Zohar-Le

fmt.
  frontend/src/routes/dashboard/PollCreationModal.svelte
Owners: @brooklynxzhu, @Zohar-Le

Fix linter.
  frontend/.eslintrc.cjs
  frontend/.prettierrc
Owners: @brooklynxzhu, @Zohar-Le

add chat and poll models (#117)
  frontend/.eslintrc.cjs
  frontend/.prettierrc
  frontend/src/lib/model.js
  frontend/src/routes/dashboard/+page.svelte
  frontend/src/routes/dashboard/PollCreationModal.svelte
  frontend/static/poll.png
Owners: @brooklynxzhu, @Zohar-Le

Update 4th report (part 2).
  reports/20240214.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Update 4th report (part 2). (#118)
  reports/20240214.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Update 20240214.md
  reports/20240214.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Update 20240214.md (#119)
  reports/20240214.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

add report w6
  reports/20240214.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

make some small changes to the report
  reports/20240214.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Zohar report w6 (#120)
  reports/20240214.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

deleting tasks work now
  frontend/src/lib/model.js
  frontend/src/routes/dashboard/+page.svelte
Owners: @brooklynxzhu, @Zohar-Le
