Repository cse403-lemme-know/lemme-know, changes with the owners that .github/CODEOWNERS names for each.
All owners: @finnbear, @abdimoh596, @davengt, @ShwayShway, @brooklynxzhu, @Zohar-Le

.github/CODEOWNERS:

* @finnbear
/backend/ @abdimoh596 @davengt @finnbear @ShwayShway
/backend/main.go @finnbear
/backend/database.go @davengt @ShwayShway
/backend/dbschema.go @davengt @ShwayShway
/frontend/ @brooklynxzhu @Zohar-Le
/terraform/ @abdimoh596
/reports/ @abdimoh596 @brooklynxzhu @davengt @finnbear @ShwayShway @Zohar-Le

Parallelize notifications.
  backend/notification.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Best effort notification means no error.
  backend/group.go
  backend/notification.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Implement backend notifications. (#82)
  backend/api.go
  backend/group.go
  backend/notification.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

revise database_test
  backend/database_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

revise database_test (#83)
  backend/database_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Open websocket during backend test.
  backend/main_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Fix the CI build.
  backend/database_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Delete group bugfix.
  backend/database.go
Owners: @davengt, @ShwayShway

Fix the CI build. (#85)
  backend/database.go
  backend/database_test.go
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear

Create Route53 terrarform configurations (except ACM record).
  terraform/route53.tf
  terraform/variable.tf
Owners: @abdimoh596

Create S3 terraform configuration.
  terraform/s3.tf
Owners: @abdimoh596

Create S3 and Route53 Terraform configurations (#86)
  terraform/route53.tf
  terraform/s3.tf
  terraform/variable.tf
Owners: @abdimoh596

acm and cloudfront template done needs some more editing
  terraform/acm.tf
  terraform/cloudfront.tf
Owners: @abdimoh596

Connect and test websocket successfully.
  backend/api.go
  backend/main.go
  backend/main_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Open WebSocket during backend test. (#84)
  backend/api.go
  backend/main.go
  backend/main_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Update third report.
  reports/20240207.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Update third report. (#87)
  reports/20240207.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

test fix
  backend/database_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Prepare to merge.
  reports/20240131.md
  terraform/cloudfront.tf
  terraform/dynamodb.tf
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Mohamad DynamoDB, ACM, and CloudFront Terraform (#63)
  terraform/acm.tf
  terraform/cloudfront.tf
  terraform/dynamodb.tf
Owners: @abdimoh596

implemented update user and create message API
  backend/database.go
Owners: @davengt, @ShwayShway

implemented update user and create message API
  backend/dbschema.go
Owners: @davengt, @ShwayShway

implemented update user and create message API (#89)
  backend/database.go
  backend/dbschema.go
Owners: @davengt, @ShwayShway

Improve Terraform configurations.
  terraform/acm.tf
  terraform/cloudfront.tf
  terraform/dynamodb.tf
  terraform/lambda.tf
Owners: @abdimoh596

Make Terraform configurations able to be applied.
  terraform/acm.tf
  terraform/cloudfront.tf
  terraform/dynamodb.tf
  terraform/lambda.tf
  terraform/s3.tf
Owners: @abdimoh596

Improve Terraform configurations. (#90)
  terraform/acm.tf
  terraform/cloudfront.tf
  terraform/dynamodb.tf
  terraform/lambda.tf
  terraform/s3.tf
Owners: @abdimoh596

apigateway_ws.tf done but needs fix on some minor errors
  terraform/apigateway_ws.tf
Owners: @abdimoh596

Mohamad report 2/7
  reports/20240207.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Run terraform fmt.
  terraform/apigateway_ws.tf
Owners: @abdimoh596

Terraform corrections and start provisioning (up to ACM certificate).
  terraform/apigateway_rest.tf
  terraform/apigateway_ws.tf
  terraform/cloudfront.tf
  terraform/lambda.tf
  terraform/variable.tf
Owners: @abdimoh596

Add back weekly report.
  reports/20240131.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Mohamad WebSocket (API Ggteway V2) Terraform configurations (#91)
  reports/20240207.md
  terraform/apigateway_rest.tf
  terraform/apigateway_ws.tf
  terraform/cloudfront.tf
  terraform/lambda.tf
  terraform/variable.tf
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Update 3rd report.
  reports/20240207.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Update 3rd report. (#92)
  reports/20240207.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

System integration.
  frontend/.gitignore
  frontend/Makefile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/routes/+layout.ts
  frontend/src/routes/+page.svelte
  frontend/svelte.config.js
  reports/20240207.md
  terraform/apigateway_ws.tf
  terraform/cloudfront.tf
  terraform/route53.tf
Owners: @brooklynxzhu, @Zohar-Le, @abdimoh596, @davengt, @finnbear, @ShwayShway

Design, implement, and test tasks API.
  backend/README.md
  backend/database.go
  backend/database_test.go
  backend/dbschema.go
  backend/group.go
  backend/group_task.go
  backend/main_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Update report.
  reports/20240207.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Design, implement, and test tasks API. (#94)
  backend/README.md
  backend/database.go
  backend/database_test.go
  backend/dbschema.go
  backend/group.go
  backend/group_task.go
  backend/main_test.go
  reports/20240207.md
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway, @brooklynxzhu, @Zohar-Le

Improve ID generation.
  backend/database.go
  backend/database_test.go
  backend/dbschema.go
  backend/group.go
  backend/group_activity.go
  backend/group_availability.go
  backend/group_task.go
  backend/notification.go
  backend/user.go
  reports/20240207.md
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear, @brooklynxzhu, @Zohar-Le

Improve ID generation. (#95)
  backend/database.go
  backend/database_test.go
  backend/dbschema.go
  backend/group.go
  backend/group_activity.go
  backend/group_availability.go
  backend/group_task.go
  backend/notification.go
  backend/user.go
  reports/20240207.md
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear, @brooklynxzhu, @Zohar-Le
