Repository cse403-lemme-know/lemme-know, changes with the owners that .github/CODEOWNERS names for each.
All owners: @finnbear, @abdimoh596, @davengt, @ShwayShway, @brooklynxzhu, @Zohar-Le

.github/CODEOWNERS:

* @finnbear
/backend/ @abdimoh596 @davengt @finnbear @ShwayShway
/backend/main.go @finnbear
/backend/database.go @davengt @ShwayShway
/backend/dbschema.go @davengt @ShwayShway
/frontend/ @brooklynxzhu @Zohar-Le
/terraform/ @abdimoh596
/reports/ @abdimoh596 @brooklynxzhu @davengt @finnbear @ShwayShway @Zohar-Le

Login Page Implementation Complete and Dashboard Page still in construction (#36)
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/stores.js
  frontend/src/routes/+page.svelte
  frontend/src/routes/dashboard/+page.svelte
  frontend/src/routes/devteam/+page.svelte
  frontend/src/routes/features/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/static/chat.png
  frontend/static/menubar.png
  frontend/static/users.png
  frontend/vite.config.js
Owners: @finnbear, @brooklynxzhu, @Zohar-Le

Update 20240131.md
  reports/20240131.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

add package-lock-json
  frontend/package-lock.json
  frontend/src/routes/+page.svelte
  frontend/src/routes/devteam.svelte
  frontend/src/routes/features.svelte
  frontend/src/routes/privacy.svelte
Owners: @brooklynxzhu, @Zohar-Le

add package-lock-json (#38)
  frontend/package-lock.json
  frontend/src/routes/+page.svelte
  frontend/src/routes/devteam.svelte
  frontend/src/routes/features.svelte
  frontend/src/routes/privacy.svelte
Owners: @brooklynxzhu, @Zohar-Le

Mohamad Weekly report done
  reports/20240131.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

updated mohamads report
  reports/20240131.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Update 20240131.md (#37)
  reports/20240131.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Lambda terraform.
  terraform/lambda.tf
Owners: @abdimoh596

IAM terraform (partial).
  terraform/iam.tf
Owners: @abdimoh596

EventBridge terraform.
  terraform/.terraform.lock.hcl
  terraform/eventbridge.tf
Owners: @abdimoh596

Format terraform.
  terraform/eventbridge.tf
Owners: @abdimoh596

API Gateway REST terraform.
  terraform/apigateway_rest.tf
Owners: @abdimoh596

Add TODO comments.
  terraform/acm.tf
  terraform/apigateway_ws.tf
  terraform/cloudfront.tf
  terraform/dynamodb.tf
  terraform/route53.tf
  terraform/s3.tf
Owners: @abdimoh596

Get started on Terraform configuration. (#39)
  terraform/.terraform.lock.hcl
  terraform/acm.tf
  terraform/apigateway_rest.tf
  terraform/apigateway_ws.tf
  terraform/cloudfront.tf
  terraform/dynamodb.tf
  terraform/eventbridge.tf
  terraform/iam.tf
  terraform/lambda.tf
  terraform/route53.tf
  terraform/s3.tf
Owners: @abdimoh596

modified dbschema and revised insert, delete, and get database API
  backend/database.go
  backend/dbschema.go
Owners: @davengt, @ShwayShway

Update dbschema.go
  backend/dbschema.go
Owners: @davengt, @ShwayShway

added weekly report
  reports/20240131.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

added weekly report (#41)
  reports/20240131.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Update 20240131.md
  reports/20240131.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Update 20240131.md (#42)
  reports/20240131.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Create dependabot.yml
  .github/dependabot.yml
Owners: @finnbear

Create dependabot.yml (#43)
  .github/dependabot.yml
Owners: @finnbear

add zohar's weekly report and chatbox implementation
  frontend/src/routes/dashboard/+page.svelte
  reports/20240131.md
Owners: @brooklynxzhu, @Zohar-Le, @abdimoh596, @davengt, @finnbear, @ShwayShway

add zohar weekly report and chatbox implementation
  reports/20240131.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Chatbox implement (#53)
  frontend/src/routes/dashboard/+page.svelte
  reports/20240131.md
Owners: @brooklynxzhu, @Zohar-Le, @abdimoh596, @davengt, @finnbear, @ShwayShway

add frontend workflow
  .github/workflows/frontend.yml
  README.md
Owners: @finnbear

update branch push
  .github/workflows/frontend.yml
Owners: @finnbear

change push branch
  .github/workflows/frontend.yml
Owners: @finnbear

Implement backend API's.
  backend/go.mod
  backend/go.sum
  backend/group_chat.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

change yml branch
  .github/workflows/frontend.yml
Owners: @finnbear

added frontend yml for automatic testing (#55)
  .github/workflows/frontend.yml
  README.md
Owners: @finnbear

upgrade node version
  .github/workflows/frontend.yml
Owners: @finnbear

upgrade node js version (#56)
  .github/workflows/frontend.yml
Owners: @finnbear

daven report for jan 31
  reports/20240131.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

daven report for jan 31 (#57)
  reports/20240131.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

get rid of typecheck because js
  .github/workflows/frontend.yml
  frontend/src/routes/+page.svelte
  frontend/src/routes/dashboard/+page.svelte
Owners: @finnbear, @brooklynxzhu, @Zohar-Le

added more comments to database.go
  backend/database.go
Owners: @davengt, @ShwayShway

added database test class
  backend/database_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

revise database implementation API
  backend/database.go
Owners: @davengt, @ShwayShway

get rid of type check in yml (#59)
  .github/workflows/frontend.yml
  frontend/src/routes/+page.svelte
  frontend/src/routes/dashboard/+page.svelte
Owners: @finnbear, @brooklynxzhu, @Zohar-Le
