Repository cse403-lemme-know/lemme-know, changes with the owners that .github/CODEOWNERS names for each.
All owners: @finnbear, @abdimoh596, @davengt, @ShwayShway, @brooklynxzhu, @Zohar-Le

Run frontend code formatter.
  frontend/Makefile
  frontend/src/routes/+layout.ts
  frontend/src/routes/+page.svelte
Owners: @brooklynxzhu, @Zohar-Le

Run frontend linter.
  frontend/.eslintrc.cjs
  frontend/Makefile
  frontend/src/routes/+page.svelte
Owners: @brooklynxzhu, @Zohar-Le

Temporary modification to table names to facilitate integration.
  backend/database.go
Owners: @davengt, @ShwayShway

Full system integration . (#93)
  backend/database.go
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/Makefile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/routes/+layout.ts
  frontend/src/routes/+page.svelte
  frontend/svelte.config.js
  terraform/apigateway_ws.tf
  terraform/cloudfront.tf
  terraform/route53.tf
Owners: @davengt, @ShwayShway, @brooklynxzhu, @Zohar-Le, @abdimoh596

brooklyn feb 7 report
  reports/20240207.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

brooklyn feb 7 report (#96)
  reports/20240207.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

daven report for 7 feb
  reports/20240207.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

daven report for 7 feb (#98)
  reports/20240207.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

add zohar's report
  reports/20240207.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

add zohar's report (#99)
  reports/20240207.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Finalize 3rd report.
  reports/20240207.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Finalize 3rd report. (#100)
  reports/20240207.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Create 4th report from template.
  reports/20240214.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Create 4th report from template. (#101)
  reports/20240214.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Add notification everywhere group is updated.
  backend/group.go
  backend/group_activity.go
  backend/group_availability.go
  backend/group_chat.go
  backend/group_poll.go
  backend/group_task.go
  backend/notification.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Add API Gateway WS endpoint.
  backend/notification.go
  terraform/lambda.tf
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Notify group members when user changes.
  backend/api.go
  backend/notification.go
  backend/user.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Send chat notification.
  backend/group_chat.go
  backend/notification.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Test new notifications.
  backend/group.go
  backend/main_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Notifcations work now.
  backend/notification.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Remove console log.
  backend/notification.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Backend sends notifications for all events (#102)
  backend/api.go
  backend/group.go
  backend/group_activity.go
  backend/group_availability.go
  backend/group_chat.go
  backend/group_poll.go
  backend/group_task.go
  backend/main_test.go
  backend/notification.go
  backend/user.go
  terraform/lambda.tf
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Investigate WebPush.
  backend/dbschema.go
  backend/go.mod
  backend/go.sum
  backend/notification.go
  backend/push.go
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear

Overhaul developer guide.
  README.md
  backend/Makefile
  backend/README.md
  frontend/Makefile
  frontend/README.md
  terraform/README.md
Owners: @finnbear, @abdimoh596, @davengt, @ShwayShway, @brooklynxzhu, @Zohar-Le

Overhaul developer guides. (#104)
  README.md
  backend/Makefile
  backend/README.md
  frontend/Makefile
  frontend/README.md
  terraform/README.md
Owners: @finnbear, @abdimoh596, @davengt, @ShwayShway, @brooklynxzhu, @Zohar-Le

Further improvements to developer guides.
  .github/workflows/backend.yml
  CONTRIBUTING.md
  README.md
  backend/Makefile
  backend/database.go
Owners: @finnbear, @abdimoh596, @davengt, @ShwayShway

Fix workflow conditions.
  .github/workflows/frontend.yml
  .github/workflows/terraform.yml
Owners: @finnbear

Restore formatting in backend CI.
  .github/workflows/backend.yml
Owners: @finnbear

Don't lint the frontend readme.
  frontend/.prettierignore
Owners: @brooklynxzhu, @Zohar-Le

Don't run backend test until build passes CI.
  .github/workflows/backend.yml
Owners: @finnbear

Further improvements to developer guides/CI. (#105)
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/terraform.yml
  CONTRIBUTING.md
  README.md
  backend/Makefile
  backend/database.go
  frontend/.prettierignore
Owners: @finnbear, @abdimoh596, @davengt, @ShwayShway, @brooklynxzhu, @Zohar-Le

Add architecture diagrams to readmes.
  backend/README.md
  frontend/README.md
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway, @brooklynxzhu, @Zohar-Le

trying to save group name in backend but server error
  frontend/src/routes/+page.svelte
  package-lock.json
Owners: @brooklynxzhu, @Zohar-Le, @finnbear

trying to save cal availabilities but 404 error
  frontend/src/lib/model.js
  frontend/src/lib/stores.js
  frontend/src/routes/+page.svelte
  frontend/src/routes/dashboard/+page.svelte
Owners: @brooklynxzhu, @Zohar-Le

adding everything from previous deleted branch because everything got too messy
  frontend/src/lib/model.js
  frontend/src/lib/stores.js
  frontend/src/routes/+page.svelte
  frontend/src/routes/dashboard/+page.svelte
  frontend/vite.config.js
Owners: @brooklynxzhu, @Zohar-Le

Progress on WebPush.
  backend/README.md
  backend/api.go
  backend/push.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Generate new VAPID keys.
  backend/database.go
  backend/dbschema.go
  backend/main_test.go
  backend/push.go
  terraform/dynamodb.tf
  terraform/lambda.tf
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear

Fix typo.
  backend/database.go
Owners: @davengt, @ShwayShway

Implement WebPush backend. (#103)
  backend/README.md
  backend/api.go
  backend/database.go
  backend/dbschema.go
  backend/go.mod
  backend/go.sum
  backend/main_test.go
  backend/notification.go
  backend/push.go
  terraform/dynamodb.tf
  terraform/lambda.tf
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Update 4th report.
  reports/20240214.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

.github/CODEOWNERS:

* @finnbear
/backend/ @abdimoh596 @davengt @finnbear @ShwayShway
/backend/main.go @finnbear
/backend/database.go @davengt @ShwayShway
/backend/dbschema.go @davengt @ShwayShway
/frontend/ @brooklynxzhu @Zohar-Le
/terraform/ @abdimoh596
/reports/ @abdimoh596 @brooklynxzhu @davengt @finnbear @ShwayShway @Zohar-Le
