Repository cse403-lemme-know/lemme-know, changes with the owners that .github/CODEOWNERS names for each.
All owners: @finnbear, @abdimoh596, @davengt, @ShwayShway, @brooklynxzhu, @Zohar-Le

.github/CODEOWNERS:

* @finnbear
/backend/ @abdimoh596 @davengt @finnbear @ShwayShway
/backend/main.go @finnbear
/backend/database.go @davengt @ShwayShway
/backend/dbschema.go @davengt @ShwayShway
/frontend/ @brooklynxzhu @Zohar-Le
/terraform/ @abdimoh596
/reports/ @abdimoh596 @brooklynxzhu @davengt @finnbear @ShwayShway @Zohar-Le

change build needs
  .github/workflows/frontend.yml
Owners: @finnbear

change needs for build (#61)
  .github/workflows/frontend.yml
Owners: @finnbear

bug fix
  backend/database_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

bug fix
  backend/database_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Revise database API layer + added unit test (rough draft) (#62)
  backend/database.go
  backend/database_test.go
  backend/dbschema.go
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear

dynamodb table progress
  terraform/dynamodb.tf
Owners: @abdimoh596

Add activity API skeleton.
  backend/api.go
  backend/group.go
  backend/group_activity.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Revisions.
  backend/README.md
  backend/group.go
  backend/group_availability.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Add poll API, revisions.
  backend/README.md
  backend/group.go
  backend/group_activity.go
  backend/group_availability.go
  backend/group_poll.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Update Go version.
  .github/workflows/backend.yml
  backend/README.md
Owners: @finnbear, @abdimoh596, @davengt, @ShwayShway

Ditto.
  .github/workflows/backend.yml
Owners: @finnbear

Fix broken build, get tests to compile again.
  backend/database.go
  backend/database_test.go
  backend/dbschema.go
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear

Implement more backend API's. (#54)
  .github/workflows/backend.yml
  backend/README.md
  backend/api.go
  backend/database.go
  backend/database_test.go
  backend/dbschema.go
  backend/go.mod
  backend/go.sum
  backend/group.go
  backend/group_activity.go
  backend/group_availability.go
  backend/group_chat.go
  backend/group_poll.go
Owners: @finnbear, @abdimoh596, @davengt, @ShwayShway

Implement more API's.
  backend/README.md
  backend/database.go
  backend/dbschema.go
  backend/group_chat.go
  backend/group_poll.go
  backend/main.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Implement chat and poll API's. (#64)
  backend/README.md
  backend/database.go
  backend/dbschema.go
  backend/group_chat.go
  backend/group_poll.go
  backend/main.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Add third report.
  reports/20240207.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

Add third report. (#65)
  reports/20240207.md
Owners: @abdimoh596, @brooklynxzhu, @davengt, @finnbear, @ShwayShway, @Zohar-Le

fix test
  frontend/README.md
  frontend/package.json
  frontend/src/lib/model.js
  frontend/src/lib/stores.js
  frontend/src/routes/+page.svelte
  frontend/src/routes/dashboard/+page.svelte
  frontend/src/routes/devteam/+page.svelte
  frontend/src/routes/features/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/vite.config.js
Owners: @brooklynxzhu, @Zohar-Le

fix lint and test
  frontend/src/routes/dashboard/+page.svelte
Owners: @brooklynxzhu, @Zohar-Le

fix lint and warning
  frontend/src/routes/+page.svelte
  frontend/vite.config.js
Owners: @brooklynxzhu, @Zohar-Le

fix test
  .github/workflows/frontend.yml
Owners: @finnbear

re-add node modules to gitignore
  frontend/.gitignore
Owners: @brooklynxzhu, @Zohar-Le

add node modules to gitignore
  frontend/.gitignore
Owners: @brooklynxzhu, @Zohar-Le

WIP backend tests.
  backend/database.go
  backend/group.go
  backend/main.go
  backend/main_test.go
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear

Revert "add node modules to gitignore"
  frontend/.gitignore
Owners: @brooklynxzhu, @Zohar-Le

add basic unit tests
  frontend/node_modules/.vitest/results.json
  frontend/src/__mocks__/MockPage.js
  frontend/src/index.test.js
  frontend/vite.config.js
  frontend/vitest.config.js
Owners: @brooklynxzhu, @Zohar-Le

add basic unit tests
  frontend/node_modules/.vitest/results.json
  frontend/vitest.config.js
Owners: @brooklynxzhu, @Zohar-Le

Improve backend testing.
  backend/database.go
  backend/group.go
  backend/group_chat.go
  backend/main.go
  backend/main_test.go
  backend/user.go
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear

lint fix
  frontend/node_modules/.vitest/results.json
  frontend/src/__mocks__/MockPage.js
  frontend/src/index.test.js
  frontend/vite.config.js
Owners: @brooklynxzhu, @Zohar-Le

change node module path in gitignore
  frontend/.gitignore
Owners: @brooklynxzhu, @Zohar-Le

frontend yml edit
  .github/workflows/frontend.yml
Owners: @finnbear

change port in playwright config
  frontend/playwright.config.js
Owners: @brooklynxzhu, @Zohar-Le

Add more backend tests. (#67)
  backend/database.go
  backend/group.go
  backend/group_chat.go
  backend/main.go
  backend/main_test.go
  backend/user.go
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear

fix playwright integration tests
  .github/workflows/frontend.yml
  frontend/tests/login.test.js
Owners: @finnbear, @brooklynxzhu, @Zohar-Le

add integration tests
  frontend/tests/login.test.js
  frontend/tests/test.js
Owners: @brooklynxzhu, @Zohar-Le

fix lint
  frontend/tests/login.test.js
Owners: @brooklynxzhu, @Zohar-Le

fix test and lint (#66)
  .github/workflows/frontend.yml
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.js
  frontend/src/__mocks__/MockPage.js
  frontend/src/index.test.js
  frontend/src/lib/model.js
  frontend/src/lib/stores.js
  frontend/src/routes/+page.svelte
  frontend/src/routes/dashboard/+page.svelte
  frontend/src/routes/devteam/+page.svelte
  frontend/src/routes/features/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/svelte.config.js
  frontend/tests/login.test.js
  frontend/tests/test.js
  frontend/vite.config.js
Owners: @finnbear, @brooklynxzhu, @Zohar-Le

Add Terraform CI badge to README.
  README.md
Owners: @finnbear

Update README.md
  README.md
Owners: @finnbear

Add Terraform CI badge to README. (#68)
  README.md
Owners: @finnbear
