Repository cse403-lemme-know/lemme-know, changes with the owners that .github/CODEOWNERS names for each.
All owners: @finnbear, @abdimoh596, @davengt, @ShwayShway, @brooklynxzhu, @Zohar-Le

.github/CODEOWNERS:

* @finnbear
/backend/ @abdimoh596 @davengt @finnbear @ShwayShway
/backend/main.go @finnbear
/backend/database.go @davengt @ShwayShway
/backend/database_test.go @davengt @ShwayShway
/backend/dbschema.go @davengt @ShwayShway
/frontend/ @abdimoh596 @brooklynxzhu @Zohar-Le
/terraform/ @abdimoh596 @finnbear

Update cal mode.
  backend/README.md
  backend/group.go
  backend/main_test.go
  backend/util.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Test cal mode parser.
  backend/util_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Open a websocket from the frontend to the backend.
  frontend/src/lib/model.js
Owners: @abdimoh596, @brooklynxzhu, @Zohar-Le

Interpret ws updates.
  frontend/src/lib/model.js
Owners: @abdimoh596, @brooklynxzhu, @Zohar-Le

Group creation WIP.
  frontend/src/lib/model.js
  frontend/src/lib/stores.js
  frontend/src/routes/+page.svelte
  frontend/src/routes/dashboard/+page.svelte
Owners: @abdimoh596, @brooklynxzhu, @Zohar-Le

Group creation working.
  backend/group.go
  frontend/src/lib/model.js
  frontend/src/routes/+page.svelte
  frontend/src/routes/dashboard/+page.svelte
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway, @brooklynxzhu, @Zohar-Le

Modularize chat into component.
  frontend/src/routes/dashboard/+page.svelte
  frontend/src/routes/dashboard/Chat.svelte
Owners: @abdimoh596, @brooklynxzhu, @Zohar-Le

Group ID in path.
  frontend/src/lib/stores.js
  frontend/src/routes/+layout.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/dashboard/[groupId]/+page.svelte
  frontend/src/routes/dashboard/[groupId]/Chat.svelte
  frontend/src/routes/dashboard/[groupId]/PollCreationModal.svelte
  frontend/svelte.config.js
Owners: @abdimoh596, @brooklynxzhu, @Zohar-Le

Can refresh page and remain in group.
  frontend/src/lib/model.js
  frontend/src/routes/dashboard/[groupId]/+page.svelte
Owners: @abdimoh596, @brooklynxzhu, @Zohar-Le

Chat via backend.
  frontend/src/lib/model.js
  frontend/src/routes/dashboard/[groupId]/+page.svelte
  frontend/src/routes/dashboard/[groupId]/Chat.svelte
Owners: @abdimoh596, @brooklynxzhu, @Zohar-Le

Show actual sender (ID for now).
  frontend/src/routes/dashboard/[groupId]/Chat.svelte
Owners: @abdimoh596, @brooklynxzhu, @Zohar-Le

fmt.
  frontend/src/lib/model.js
  frontend/src/routes/+page.svelte
  frontend/src/routes/dashboard/[groupId]/+page.svelte
  frontend/src/routes/dashboard/[groupId]/Chat.svelte
  frontend/svelte.config.js
Owners: @abdimoh596, @brooklynxzhu, @Zohar-Le

Lint.
  frontend/src/lib/model.js
Owners: @abdimoh596, @brooklynxzhu, @Zohar-Le

Debug chat creation in dynamodb.
  backend/database.go
  backend/group_chat.go
  terraform/dynamodb.tf
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear

Revert redundant change.
  backend/group.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Enhance testing instructions in dev guide.
  CONTRIBUTING.md
  README.md
  frontend/Makefile
Owners: @finnbear, @abdimoh596, @brooklynxzhu, @Zohar-Le

Small README edit.
  README.md
Owners: @finnbear

Edit section order in README.
  README.md
Owners: @finnbear

Typo.
  CONTRIBUTING.md
Owners: @finnbear

Add 5th report.
  reports/20240221.md
Owners: @finnbear
