Repository cse403-lemme-know/lemme-know, changes with the owners that .github/CODEOWNERS names for each.
All owners: @finnbear, @abdimoh596, @davengt, @ShwayShway, @brooklynxzhu, @Zohar-Le

Try running DynamoDB local in CI.
  .github/workflows/backend.yml
Owners: @finnbear

Run the workflow.
  .github/workflows/backend.yml
Owners: @finnbear

Fix multiline run.
  .github/workflows/backend.yml
Owners: @finnbear

Fix working dir.
  .github/workflows/backend.yml
Owners: @finnbear

Run DynamoDB tests against DynamoDB local.
  .github/workflows/backend.yml
  backend/database.go
  backend/database_test.go
Owners: @finnbear, @davengt, @ShwayShway, @abdimoh596

Fix workflow.
  .github/workflows/backend.yml
Owners: @finnbear

Add credentials.
  .github/workflows/backend.yml
  backend/database.go
  backend/go.mod
  backend/go.sum
Owners: @finnbear, @davengt, @ShwayShway, @abdimoh596

Create the tables.
  backend/database.go
Owners: @davengt, @ShwayShway

Don't duplicate tables.
  .github/workflows/backend.yml
  backend/database.go
Owners: @finnbear, @davengt, @ShwayShway

Avoid duplicate table errors.
  backend/database.go
Owners: @davengt, @ShwayShway

Fix error check.
  backend/database.go
Owners: @davengt, @ShwayShway

Ignore table creation error.
  backend/database.go
Owners: @davengt, @ShwayShway

Make schema consistent.
  backend/dbschema.go
Owners: @davengt, @ShwayShway

Isolate test keys.
  backend/database_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Allow DynamoDB unit tests to run in CI (#69)
  .github/workflows/backend.yml
  backend/database.go
  backend/database_test.go
  backend/dbschema.go
  backend/go.mod
  backend/go.sum
Owners: @finnbear, @davengt, @ShwayShway, @abdimoh596

Skip database tests outside CI.
  backend/database_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Skip database tests outside of CI (#70)
  backend/database_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Developer guide.
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  CONTRIBUTING.md
  LICENSE
  README.md
  backend/README.md
  terraform/README.md
Owners: @finnbear, @abdimoh596, @davengt, @ShwayShway

Finish developer guide. (#71)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  CONTRIBUTING.md
  LICENSE
  README.md
  backend/README.md
  terraform/README.md
Owners: @finnbear, @abdimoh596, @davengt, @ShwayShway

Implement activity/availability/group API's.
  backend/database.go
  backend/dbschema.go
  backend/group.go
  backend/group_activity.go
  backend/group_availability.go
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear

Simplify database API's.
  backend/database.go
  backend/dbschema.go
  backend/group.go
  backend/group_activity.go
  backend/group_availability.go
  backend/group_poll.go
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear

Simplify database update group.
  backend/database.go
  backend/dbschema.go
Owners: @davengt, @ShwayShway

Refine backend API's. (#72)
  backend/database.go
  backend/dbschema.go
  backend/group.go
  backend/group_activity.go
  backend/group_availability.go
  backend/group_poll.go
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear

Check transaction error in UpdateGroup.
  backend/database.go
Owners: @davengt, @ShwayShway

Check transaction error in `UpdateGroup` (#73)
  backend/database.go
Owners: @davengt, @ShwayShway

revise db testing
  backend/database_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

format fix
  backend/database.go
  backend/database_test.go
  backend/dbschema.go
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear

change groupid in dbschema to uint64
  backend/dbschema.go
Owners: @davengt, @ShwayShway

Refine backend API's.
  backend/dbschema.go
  backend/group.go
  backend/group_activity.go
  backend/group_availability.go
  backend/user.go
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear

Add some security for group/availability API's.
  .github/ISSUE_TEMPLATE/bug.yml
  backend/group.go
  backend/group_availability.go
Owners: @finnbear, @abdimoh596, @davengt, @ShwayShway

User leaves group part 2.
  backend/group.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Refine backend activity/availability/group/user API's. (#79)
  .github/ISSUE_TEMPLATE/bug.yml
  backend/dbschema.go
  backend/group.go
  backend/group_activity.go
  backend/group_availability.go
  backend/user.go
Owners: @finnbear, @davengt, @ShwayShway, @abdimoh596

Add tests for backend API's.
  backend/database.go
  backend/group.go
  backend/group_availability.go
  backend/main_test.go
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear

More tests.
  backend/README.md
  backend/group_chat.go
  backend/main_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

More tests, bugfixes.
  backend/database.go
  backend/group.go
  backend/group_poll.go
  backend/main_test.go
Owners: @davengt, @ShwayShway, @abdimoh596, @finnbear

More assertions.
  backend/main_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Add tests for backend API's, fix discovered bugs. (#80)
  backend/README.md
  backend/database.go
  backend/group.go
  backend/group_availability.go
  backend/group_chat.go
  backend/group_poll.go
  backend/main_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Test subtle backend API's.
  backend/README.md
  backend/group.go
  backend/group_activity.go
  backend/group_availability.go
  backend/group_chat.go
  backend/group_poll.go
  backend/main_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Test subtle backend API's. (#81)
  backend/README.md
  backend/group.go
  backend/group_activity.go
  backend/group_availability.go
  backend/group_chat.go
  backend/group_poll.go
  backend/main_test.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

Implement backend notifications.
  backend/api.go
  backend/group.go
  backend/notification.go
Owners: @abdimoh596, @davengt, @finnbear, @ShwayShway

.github/CODEOWNERS:

* @finnbear
/backend/ @abdimoh596 @davengt @finnbear @ShwayShway
/backend/main.go @finnbear
/backend/database.go @davengt @ShwayShway
/backend/dbschema.go @davengt @ShwayShway
/frontend/ @brooklynxzhu @Zohar-Le
/terraform/ @abdimoh596
/reports/ @abdimoh596 @brooklynxzhu @davengt @finnbear @ShwayShway @Zohar-Le
